{% extends 'base.html' %}
 
{% block subheader %}All bookmarks{% endblock %}
 
{% block content %}
<ul class="bookmarks">
    {% for bookmark in bookmarks %}
    <li>
        <a class="bookmark-link" href="">{{ bookmark }}</a>
        <div class="metadata"><span class="author">Posted by Jane Smith</span> | <span class="timestamp">2012-2-29</span> | <span class="tags"><a href="">funny</a> <a href="">haha</a></span></div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
 
{% block bookmark_widget %}
<div id="new-bookmark-widget">
    <form method="post">
        <h3>Bookmark</h3>
        <p><label>URL</label> <input></p>
        <p><label>Title</label> <input></p>
        <p><label>Tags (comma-separated)</label> <input></p>
        <p><button id="new-bookmark-submit">Submit</button>Submit</button>
    </form>
</div>
{% endblock %}