{% extends 'base.html' %}
 
{% block subheader %}All bookmarks{% endblock %}
 
{% block content %}
<ul class="bookmarks">
    {% for bookmark in bookmarks %}
		{% include 'bookmark.html' %}
    {% endfor %}
</ul>
{% endblock %}
 
{% block bookmark_widget %}
    {% if user %}
    <div id="new-bookmark-widget">
        <form method="post">
		{% csrf_token %}
        <h3>Bookmark</h3>
        {{ form.as_p }}
        <p><button id="new-bookmark-submit">Submit</button>
        </form>
    </div>
    {% endif %}
{% endblock %}